<?xml version="1.0"?>
<launch> 
  <include file="$(find get_pointcloud)/launch/launch_world.launch">
  </include>
  <node name="spawn_helipad" pkg="gazebo_ros" type="spawn_model"
      args="-file $(find bebop_gazebo)/models/marker3/model.sdf
         -model marker3 -sdf
         -x 8.0
         -y -5.0
         -z 0.3"
      respawn="false" output="screen"/>
      <!-- <include file="$(find bebop_gazebo)/launch/bebop_moving_helipad.launch" /> -->
</launch>


