<?xml version="1.0"?>
<launch>    
    <!-- <include file="$(find ar_tracking)/launch/usb_cam.launch" /> -->
    <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" >
        <arg name="cam_image_topic" value="/bebop/image_raw" />       
        <arg name="cam_info_topic" value="/bebop/camera_info" />
        <arg name="output_frame" value="odom" />
        <arg name="marker_size" default="15.0" />
        <arg name="max_new_marker_error"  default="0.08" />
		<arg name="max_track_error"       default="0.2" />
    </include>

</launch>